

@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Regular.ttf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Light.ttf.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Bold.ttf.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Regular.ttf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Light.ttf.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Bold.ttf.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-It.ttf.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-LightIt.ttf.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-BoldIt.ttf.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

:root {
}

/**********************************************************
* Shared
***********************************************************/

html {
    background: #2d3133;
    background: rgba(0, 0, 0, 0);
}

body {
    font-variant-ligatures: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    background: rgba(0, 0, 0, 0);
    color: #aaa;
    font-size: 12px;
    font-family: "Source Sans Pro";
    margin: 0px;
}

a {
    text-decoration: underline;
    color: #aaf;
}

.outputbox {
}

.outputbox ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.outputbox ::-webkit-scrollbar-track {
    border-radius: 3px;
}

.outputbox ::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

.outputbox ::-webkit-scrollbar-corner {
    background: rgba(25, 25, 25, 1);
}

.outputbox ::-webkit-scrollbar {
    background: rgba(25, 25, 25, 1);
}

.outputbox ::-webkit-scrollbar-track {
    background: rgba(25, 25, 25, 1);
}

.outputbox ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.outputbox ::-webkit-scrollbar-corner {
    background: rgba(25, 25, 25, 1);
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    background: #ddd;
}

.CodeMirror
{
    font-family: "Fira Code", "Source Code Pro" !important;
    font-size:15px;

    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
}

.CodeMirror pre {
    padding: 0 0 0 5px;
}

.CodeMirror div.CodeMirror-cursor {
    border: 2px solid rgba(255, 0, 0, 0.35);
    background: rgba(255, 0, 0, 0.35);
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    width: auto;
    border: none !important;
    background: rgba(0, 200, 200, .4);
}

.CodeMirror-gutters {
    background: #2d3133;
}

.CodeMirror-hints.empty {
    display: none;
}

.maptable {
    font-family: "Fira Code", "Source Code Pro";
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.maptable-entry
{
    display:inline-flex;
    margin:0px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:2px;
    text-indent: 0;
    padding:2px;
    padding-left:4px;
    padding-right:4px;
}

.smaller {
    font-size: 65%;
    opacity: 0.5;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.35em;
    font-weight: normal;
    font-variant: small-caps;
    display: block;
}

.smaller-inframe {
    font-size: 65%;
    opacity: 0.5;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.35em;
    font-weight: normal;
    font-variant: small-caps;
    float:right;
    margin-right: 0.35em;
}



.maptable-key {
    padding:4px;
    display:block;
    text-align:right;
    flex:1 auto;
    border-right: 3px solid rgba(255,255,255,0.1);
    color: rgba(255,200,128, 0.7);
}

.maptable-value {
    padding:4px;
    display:block;
    flex:1 auto;
    color: rgba(128,200,255, 0.7);
}

.maptable-key > .maptable-entry
{
    display:block;
}
.maptable-value > .maptable-entry
{
    display:block;
}

.number
{
    color:rgba(200,200,200,0.7);
}

.operator
{
    color:rgba(255,200,128,0.7);
}

.number > .operator
{
    color:rgba(200,200,200,0.7);
}

.CodeMirror-hints {
    position: absolute;
    z-index: 1000000000000000;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background: #eee;
    font-size: 90%;
    font-family: inherit;
    max-height: 20em;
}

.CodeMirror-hints ul {
    overflow-y: auto;
    max-height: 20em;
}

.CodeMirror-hints ul li {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    max-width: 60em;
    overflow: hidden;
    white-space: pre;
    color: #ccc;
    cursor: pointer;
}

.CodeMirror-hints input {
    display: none;
}

.CodeMirror-hints .selected {
    background: #eee;
    color: #ddd;
}

.CodeMirror-hints ul::-webkit-scrollbar-thumb {
    background: #666;
    border-color: #666;
}

.Field-gutter {
    width: 28px;
}

.CodeMirror-linenumbers {
    width: 48px;
}

.CodeMirror-linewidget {
    margin-left: -25px;
    z-index: 4;
}

.Field-remoteOutput {
    background: #333;
    border-radius: 3px;
    padding: 3px;
    padding-left: 8px;
    margin-top: 2px;
    margin-left: 25px;
    display: block;
    overflow: scroll;
    max-height: 80px;
    min-height: 27px;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right:50px;
	overflow-wrap: break-word;
    font-size:80%;
}

.Field-remoteOutput-error {
    background: #833;
    border-radius: 3px;
    padding: 3px;
    margin-top: 2px;
    padding-top: 0px;
    border-top: 3px solid #833;
    padding-left: 10px;
    margin-left: 26px;
    display: block;
    overflow: scroll;
    max-height: 150px;
    min-height: 27px;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right:50px;
	overflow-wrap: break-word;
    font-size:80%;
}

.Field-remoteColor {
    background: #333;
    border-radius: 3px;
    padding: 3px;
    padding-left: 8px;
    margin-top: 2px;
    margin-left: 26px;
    display: block;
    overflow: scroll;
    font-size: 75%;
    max-height: 60px;
    min-height: 225px;
    height: 100%;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
}

.Field-remoteWidget {
    background: #333;
    border-radius: 3px;
    padding: 3px;
    padding-left: 3px;
    margin-top: 2px;
    margin-left: 26px;
    white-space: pre;
    overflow: scroll;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Field-remoteWidgetInline {
    display: inline-block;
    vertical-align: middle;
    background: #333;
    border-radius: 3px;
    padding: 3px;
    padding-left: 3px;
    margin-top: 2px;
    margin-left: 2px;
    white-space: pre;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.Field-remoteColor form {
    display: inline;
}

.Field-closeBox {
    font-size: 13px;
    position: absolute;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    top: 0px;
    left: 9px;
    background: #333;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    font-weight: 100;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

.Field-expandBox {
    font-size: 13px;
    position: absolute;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    top: 18px;
    left: 9px;
    margin-top: 0px;
    background: #333;
    width: 14px;
    height: 14px;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

.Field-expandBoxInline {
    font-size: 13px;
    position: absolute;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    top: -2px;
    left: -16px;

    margin-top: 0px;
    background: #333;
    width: 14px;
    height: 14px;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    font-weight: 700;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}


.close-expand {
    margin: 0px;
    padding: 0px;
    float: right;
    display: inline;
    width: 20px;
    height: 28px;
}

.close-expand .Field-closeBox {
    position: initial;
    float: right;
}

.close-expand .Field-expandBox {
    position: initial;
    float: right;
}

.Field-textBox {
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    background-color: #222;
    width: 100%;
    max-width: 1300px;
    transition: width 0.25s;
    font-family: "Source Sans Pro";
    font-size: 16px;
    color: #eee;
}

.Field-textBox:focus {
    background-color: #333;
    outline: none;
}

.Field-modal {
    max-width: 500px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px;
}

.Field-modal::backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.Field-modal-positioned {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px;
    margin: 0px;
}

.Field-modal-positioned::backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

*::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-style: italic;
}

input {
    width: 100%;
/ / min-width : 90 px;
/ / max-width : 300 px;
    transition: width 0.25s;
}

.Field-modal {
    font-family: "Source Sans Pro";
}

.Field-modal ol {
    color: #bbb;
    list-style-type: circle;
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    max-width: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Field-modal-positioned ol {
    color: #bbb;
    list-style-type: circle;
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    max-width: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Field-modal-positioned ol:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px #000;
    -webkit-box-shadow: inset 0 0 20px #000;
    -moz-box-shadow: inset 0 0 20px #000000;
}

.Field-modal ol:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px #000;
    -webkit-box-shadow: inset 0 0 20px #000;
    -moz-box-shadow: inset 0 0 50px #000000;
}

.Field-modal ol li {
    padding: 5px;
    width: 100%;
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 1px;
    margin-top: 1px;
    background: #222;
    pointer-events: all;
}

.Field-modal-positioned ol li {
    padding: 5px;
    width: 100%;
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 1px;
    margin-top: 1px;
    background: #222;
    pointer-events: all;
    font-weight: 900;
}

.Field-modal ol {
    list-style-type: none;
    margin-left: 0;
    max-height: 80vh;
}


.Field-modal-positioned ol {
    list-style-type: none;
    margin-left: 0;
    max-height: 80vh;
}

.Field-modal-positioned {
    width: 400px;
    max-width: 500px;
}

.Field-modal ol li .Field-number {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1em;
    font-size: 100%;
    background: black;
    border-radius: 5px;
}

.Field-modal-positioned ol li .Field-number {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1em;
    font-size: 100%;
    background: black;
    border-radius: 5px;
}

.Field-modal-positioned ol li .Field-number-empty {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1em;
    font-size: 100%;
    background: black;
    border-radius: 5px;
}

.Field-modal-positioned ol li .matched,
.Field-modal ol li .matched {
    text-decoration: underline;
}

.Field-modal-positioned ol li span.doc,
.Field-modal ol li span.doc {
    opacity: 0.5;
    /*text-height: 120%;*/
    float: left;
    font-weight:normal;
    clear: both;
    margin-left: 25px;
    margin-right: 10px;
    padding-top: 3px;
}

.Field-modal-positioned ol li span.type,
.Field-modal ol li span.type {
    font-weight: 200;
    font-family: "fira code";
    font-size: 70%;
    opacity: 0.75;
    padding-top: 3px;
}

.Field-modal ol li:after {
/ / content : ".";
/ / display : block;
/ / height : 0;
/ / clear : both;
/ / visibility : hidden;
/ /
}

.Field-modal ol li {
    display: inline-block;
    width: 100%;
}

.Field-modal-positioned ol li:after {
/ / content : ".";
/ / display : block;
/ / height : 0;
/ / clear : both;
/ / visibility : hidden;
/ /
}

.Field-modal-positioned ol li {
    display: inline-block;
    width: 100%;
}

.Field-modal ol li .Field-number:empty {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1em;
    font-size: 100%;
    background: black;
    border-radius: 5px;
    border: none;
    background: none;
}

.Field-modal-positioned ol li .Field-number:empty {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1em;
    font-size: 100%;
    background: black;
    border-radius: 5px;
    border: none;
    background: none;
}

.Field-status {
/ / width : 20 vw;
    max-width: 50vw;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgba(60, 60, 60, 0.9);
    padding: 5px;
    border-radius: 5px;
    transition: 1s opacity;
    font-family: "Source Sans Pro";
}

.Field-status .highlighted {
    background: rgba(60, 60, 60, 0.9);
    padding: 2px;
    padding-top: 0px;
    border-radius: 5px;
}

.Field-status .error {
    background: rgba(255, 0, 0, 0.1);
    padding: 2px;
    padding-top: 0px;
    border-radius: 5px;
}

code {
    font-size: 90%;
    font-family: "Fira Code";
    font-opacity:100% !important;
    font-weight: bolder;
}

.CodeMirror-scroll {
    border-radius: 5px;
    background: #222;
}

.CodeMirror-sizer {
    border-radius: 5px;
}

.CodeMirror {
    border-radius: 5px;
    color: #aaa;
}

.CodeMirror-gutters {
/ / background : #2d3133;
    border-color: #2d3133;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.1);
}

.CodeMirror-gutter-wrapper {
    pointer-events: none;
}

.CodeMirror-dialog {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(64, 64, 64, 0.85);
    z-index: 15;
    foreground: #aaa !important;
    padding: 0.2em 0.2em;
    overflow: hidden;
    font-family: "Source Sans Pro";
    font-size: 100%;
}

.CodeMirror-dialog-top {
    border-top: none;
    top: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #222;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    width: 40em;
    color: inherit;
    font-size: 100%;
    padding: 0.2em;
}

.CodeMirror-dialog button {
    background: rgba(255, 255, 255, 0.2);
    font-size: 75%;
}

.FieldError-line {
    background: rgba(128, 0, 0, 0.5);
}

.FieldDisabled-line::after {
    content: " ";
    white-space: pre;
    display:inline-block;
    position:absolute;
    top:0px;
    width:100%;

    background: rgba(64,64,64, 0.5);
    border-right: 2px rgba(128,128,128,0.5) dashed;
    z-index:2;
}

.FieldDisabled-line-top::after {
    content: " ";
    white-space: pre;
    display:inline-block;
    position:absolute;
    top:0px;
    width:100%;
    height:90%;

    background: rgba(64,64,64, 0.5);
    border-top: 2px rgba(128,128,128,0.5) dashed;
    border-right: 2px rgba(128,128,128,0.5) dashed;
    z-index:2;
}

.FieldDisabled-line-bottom::after   {
    content: " ";
    white-space: pre;
    display:inline-block;
    position:absolute;
    top:0px;
    width:100%;

    background: rgba(64,64,64, 0.5);
    border-bottom: 2px rgba(128,128,128,0.5) dashed;
    border-right: 2px rgba(128,128,128,0.5) dashed;
    z-index:2;
}


.advice {
    white-space: pre;
    margin-left:40px;
    margin-top:10px;
    text-indent: -20px;
}


.cm-s-default span.cm-keyword {
    color: #dba;
    font-style: italic;
}

.cm-s-default span.cm-def {
    color: #acf;
    font-weight: 900;
}

.cm-s-default span.cm-property {
    color: #aab;
    font-weight: 900;
}

.notification
{
    font-size: 17px;
}

.notification b
{
    color:#fff;
}

.notification i
{
    color:#fff;
}

.Field-status .type
{
    font-family: "Fira Code";
    font-size:80%;
}

span.comp {
    /*font-family: "Fira Code";*/
    font-weight: 900;
    font-size: 90%;
}

.comp-space {
    /*font-family: "Fira Code";*/
    font-weight: 900;
    padding: 0px;
    padding-bottom:4px;
}

div#hbox.Field-status span.stars
{
    float: right;
    position: absolute;
    right: 4px;
    font-size: 70%;
    top: 4px;
}

div#hbox.Field-status span.doc
{
    display: inline;
}

div#hbox.Field-status span.doc span.type
{
//    display: inline;
    font-size:70%;
}

div#hbox.Field-status .comp-space {
    font-weight: 900;
    padding: 0px;
    padding-bottom:4px;
    display:inline;
}

dialog.Field-modal ol li span.stars,
dialog.Field-modal-positioned ol li span.stars
{
    float: right;
    position: absolute;
    right: 30px;
    padding-top:4px;
    font-size: 70%;
    opacity:0.5;
}

