
@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Regular.ttf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Light.ttf.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/field/filesystem/fonts/SourceCodePro-Bold.ttf.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Regular.ttf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Light.ttf.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-Bold.ttf.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-It.ttf.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-LightIt.ttf.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/field/filesystem/fonts/SourceSansPro-BoldIt.ttf.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

html {
    background: #2d3133;
//    background: rgba(0, 0, 0, 0);
}

body {
    background: #2d3133;
    color: #aaa;
    font-size: 17px;
    font-family: "Source Sans Pro";
    margin: 10px;

}

pre
{
    padding: 10px;
    background: rgba(0,0,0,0.2);
}
a {
    text-decoration: none;
    color: #aaa;
}

p {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15px;
}

.CodeMirror
{
    background:rgba(0,0,0,0.2);
    color:#eee;
    height: auto;
    font-size: 12px;
}

.CodeMirror-scroll
{
    background:rgba(0,0,0,0.2);
    height: auto;
}

h1 {
    padding-left:4px;
    padding-right:4px;
    padding-bottom: 5px;
    margin-top:-5px;
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom: 4px;
    background: rgba(0,0,0,0.1);
    font-size: 20px;
    text-align: center;
}

.grouped
{
    background:rgba(0,0,0,0.1);
    border-radius: 5px;
    padding:5px;
    margin:-5px;
}


